<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2> Proyecto Z</h2>
    <h2>Nombres: Javier Cruz Guarachi
    </h2>
    <h2> Danny Antonio Mayta Huanca </h2>
    <center><img src="{{ url_for('static', filename='img/Empresajms.png') }}" alt="Importadora"width="200" height="200"></a></center>
    <h3><center>Su Almacén Preferido "JMS"</center></h3>
    <h1>Gestion de Productos</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Fecha Vencimiento</th>
                <th>Categoría</th>
                <th>Accion</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.cantidad }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.fecha_vencimiento }}</td>
                <td>{{ producto.categoria }}</td>
                <td>
                    <a href="{{ url_for('eliminar_producto', producto_id=producto.id) }}">Eliminar</a>
                </td>
                <td>
                    <a href="{{ url_for('editar_producto', producto_id=producto.id) }}">Editar</a>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('agregar_producto') }}">Agregar Producto</a>
</body>
</html>